*{
    text-align: center;
   margin: auto;
    
}
.immagine{

}

h2{
    margin: 5px;

}

.codicefiscale {
    width: 500px;
    border: 5px;
    border-style: double;
    background-color: lightblue;
    border-radius: 20px;
    
}
    
.maiuscolo{
    color: rgb(255, 0, 0);
    margin: 5px;
    
    
}
.nome {
    
}

.cognome {
    
}

.sesso {

}

.data {

}

.provincia {
    
}

.bottoni {
    border: 3px;
}

.result{
    margin: 25px;
}

.controllo{
    margin: 25px;
}